<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (khachHang) {
      <div>
        <h2 data-cy="khachHangDetailsHeading"><span jhiTranslate="demoJhipsterApp.khachHang.detail.title">Khach Hang</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ khachHang.id }}</span>
          </dd>
          <dt><span jhiTranslate="demoJhipsterApp.khachHang.tenKhachHang">Ten Khach Hang</span></dt>
          <dd>
            <span>{{ khachHang.tenKhachHang }}</span>
          </dd>
          <dt><span jhiTranslate="demoJhipsterApp.khachHang.diaChi">Dia Chi</span></dt>
          <dd>
            <span>{{ khachHang.diaChi }}</span>
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/khach-hang', khachHang.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
