<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-hoa-don-heading" data-cy="HoaDonCreateUpdateHeading" jhiTranslate="demoJhipsterApp.hoaDon.home.createOrEditLabel">
        Create or edit a Hoa Don
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        @if (editForm.controls.id.value !== null) {
          <div class="mb-3">
            <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
            <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
          </div>
        }

        <div class="mb-3">
          <label class="form-label" jhiTranslate="demoJhipsterApp.hoaDon.tongTien" for="field_tongTien">Tong Tien</label>
          <input type="number" class="form-control" name="tongTien" id="field_tongTien" data-cy="tongTien" formControlName="tongTien" />
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="demoJhipsterApp.hoaDon.ngayMua" for="field_ngayMua">Ngay Mua</label>
          <div class="input-group">
            <input
              id="field_ngayMua"
              data-cy="ngayMua"
              type="text"
              class="form-control"
              name="ngayMua"
              ngbDatepicker
              #ngayMuaDp="ngbDatepicker"
              formControlName="ngayMua"
            />
            <button type="button" class="btn btn-secondary" (click)="ngayMuaDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label" jhiTranslate="demoJhipsterApp.hoaDon.khachHang" for="field_khachHang">Khach Hang</label>
          <select
            class="form-control"
            id="field_khachHang"
            data-cy="khachHang"
            name="khachHang"
            formControlName="khachHang"
            [compareWith]="compareKhachHang"
          >
            <option [ngValue]="null"></option>
            @for (khachHangOption of khachHangsSharedCollection; track $index) {
              <option [ngValue]="khachHangOption">{{ khachHangOption.tenKhachHang }}</option>
            }
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
