<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (hoaDon) {
      <div>
        <h2 data-cy="hoaDonDetailsHeading"><span jhiTranslate="demoJhipsterApp.hoaDon.detail.title">Hoa Don</span></h2>

        <hr />

        <jhi-alert-error></jhi-alert-error>

        <jhi-alert></jhi-alert>

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ hoaDon.id }}</span>
          </dd>
          <dt><span jhiTranslate="demoJhipsterApp.hoaDon.tongTien">Tong Tien</span></dt>
          <dd>
            <span>{{ hoaDon.tongTien }}</span>
          </dd>
          <dt><span jhiTranslate="demoJhipsterApp.hoaDon.ngayMua">Ngay Mua</span></dt>
          <dd>
            <span>{{ hoaDon.ngayMua | formatMediumDate }}</span>
          </dd>
          <dt><span jhiTranslate="demoJhipsterApp.hoaDon.khachHang">Khach Hang</span></dt>
          <dd>
            @if (hoaDon.khachHang) {
              <div>
                <a [routerLink]="['/khach-hang', hoaDon.khachHang.id, 'view']">{{ hoaDon.khachHang.tenKhachHang }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/hoa-don', hoaDon.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
